.benefits{
    width: -webkit-fill-available;
}
.round{
    width: 126px;
    height: 126px;
}
.top{
    top: -41px;
    right: 28px;
    width: 120px;
    height: 120px;
}
.padding{
    padding-left: 63px
}
.padding1{
    padding-left: 56px;
    padding-right: 56px;
}
.cart{
    width: 429px;
    height: 296px;
}